[alias]
	co = commit
	st = status

	# http://gitimmersion.com/lab_11.html#main_content
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[color]
	diff = true

[core]
	editor = vim

[user]
	name = Daniel Cousens
	email = daniel350@bigpond.com
