[alias]
	ad = add
	ch = checkout
	che = checkout
	chec = checkout
	check = checkout
	checko = checkout
	checkou = checkout
	co = commit
	com = commit
	comm = commit
	commi = commit
	d = diff
	di = diff
	dif = diff
	h = log --oneline --graph --decorate
	hi = log --oneline --graph --decorate
	his = log --oneline --graph --decorate
	hist = log --oneline --graph --decorate
	reb = rebase
	reba = rebase
	rebas = rebase
	res = reset
	rese = reset
	st = status -sb
	sta = status -sb
	stat = status -sb
	statu = status -sb

[color]
	branch = always
	diff = always
	interactive = always
	status = always

[core]
	editor = vim

[user]
	name = Daniel Cousens
	email = daniel210x@gmail.com

[push]
	default = matching
