[alias]
	co = commit
	d = diff
	st = status -sb
	hist = log --oneline --graph --decorate

[color]
	branch = always
	diff = always
	interactive = always
	status = always

[core]
	editor = vim

[user]
	name = Daniel Cousens
	email = daniel210x@gmail.com

[push]
	default = matching
