dht = off
#dht_port = 6881
peer_exchange = no 
use_udp_trackers = no 

encryption = require,require_RC4,allow_incoming,enable_retry
port_range = 49600-49699
port_random = yes

min_peers = 40
max_peers = 100
max_uploads = 10
download_rate = 400 
upload_rate = 0

check_hash = no 
directory = ~/torrents/
session = ~/torrents/session

schedule = watch_directory,5,5,load_start=~/torrents/watch/*.torrent
schedule = tied_directory,10,10,start_tied=
schedule = untied_directory,10,10,close_untied=
schedule = low_diskspace,5,60,close_low_diskspace=100M
